<main>
  <section class="section">
    <div class="section__container1">
      <form action="" method="get" class="section__form">
        <label for="shows" class="section__form--title">Escribe el nombre de la serie aquí:
        </label>
        <input type="text" name="shows" id="seriesChoice" class="js_inputUser section__form--input" />
        <input type="button" value="Search" class="js_btn" />
      </form>
    </div>
  </section>
  <section class="wrapper">
    <div class="section__container2">
      <ul class="js_movielist"></ul>
    </div>

    <div class="section__container3">

      <ul class="js_favoriteList"></ul>
    </div>
  </section>
</main>