<main>
  <section class="section">
    <div class="section__container1">
      <form action="" method="get" class="section__form">
        <label for="shows" class="section__form--title">Escribe el nombre de la serie aquí:
        </label>
        <input type="text" name="shows" id="seriesChoice" class="js_inputUser section__form--input" />
        <input type="button" value="Search" class="js_btn styleBtn" />
      </form>
    </div>
    <p class="js_errorMessage"></p>
  </section>
  <section class="wrapper">

    <div class="section__container3">
      <h2 class="style__title">Lista favorita: </h2>
      <ul class="js_favoriteList styleLiFavorite"></ul>
    </div>

    <div class="section__container2">
      <ul class="js_movielist section__container2--styleLi"></ul>
    </div>


  </section>
</main>