.styleList {
  background-color: $red;
  color: white;
  margin-top: 20px;
}

.styleListFav {
  background-color: white;
  color: $red;
  list-style: none;
  margin-top: 20px;
}

.styleFavorite {
  background-color: white;
  color: black;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__container1 {
    width: 100%;
    background-color: $red;

    display: flex;
    justify-content: space-around;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 20px;

    &--input {
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: $font-second;
    }
    &--title {
      color: $color-bg;
    }
  }
}

/*   &__container3 {
    position: absolute;
    top: 20%;
    left: 0;
    border: solid 2px black;
  }*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  grid-auto-rows: auto;
}
