.styleList {
  background-color: $red;
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  @media all and (max-width: 768px) {
    margin-right: 15px;
  }
}

.styleListFav {
  background-color: white;
  color: $red;
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  @media all and (max-width: 768px) {
    margin-right: 15px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__container1 {
    width: 100%;
    background-color: $red;
    display: flex;
    justify-content: space-around;
  }
  &__container2 {
    &--styleLi {
      @media all and (max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 20px;

    &--input {
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: $font-second;
    }
    &--title {
      color: $color-bg;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  grid-auto-rows: auto;
  @media all and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.styleLiFavorite {
  border: solid 2px black;
  @media all and (max-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.style__title {
  @media all and (max-width: 768px) {
    text-align: center;
  }
}

.styleBtn {
  width: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: red;
  font-family: inherit;
  color: black;
  background-color: white;
}
